


<div id="carousel-example-generic" class="carousel slide"
	data-ride="carousel">
	<ol class="carousel-indicators">
		<li *ngFor="let produto of produtos; let i = index;"
			data-target="#carousel-example-generic" [attr.data-slide-to]="i"
			[attr.class]="first ? 'active':''"></li>
	</ol>

	<div class="carousel-inner" role="listbox">
		<div *ngFor="let produto of produtos; let i = index;"
			[attr.class]="first ? 'item active' : 'item'">
			<img src="{{produto.getImgSlide()}}">
			<div class="carousel-caption">
				<h4>produto.getTitulo()</h4>
				<h3>produto.getPreco()</h3>
				<p>produto.getDescricao()</p>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic"
		role="button" data-slide="prev"> <span
		class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span
		class="sr-only">Anterior</span>
	</a> <a class="right carousel-control" href="#carousel-example-generic"
		role="button" data-slide="next"> <span
		class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span
		class="sr-only">Próximo</span>
	</a>
</div>